@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
#app{
  width: 100%;
}
body{
  width: 100%;
  padding: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header{
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
h1{
  font-size: 40px;
  color: #575757;
}
.search{
  display: flex;
  align-items: center;
  justify-content: left;
  width: 55vh;
}
.search i{
  padding: 5px;
  font-size: 35px;
}
input{
  width: 90%;
  border-radius: 10px;
  border-color: #5265f7;
  padding: 10px;
  font-size: 18px;
}
.buttons{
  height: 8vh;
  width: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
button{
  height: 50px;
  width: 100px;
  border-radius: 8px;
  color: #5265f7;
  border-color: #b2c0f7;
  font-size: 18px;
}
button:hover{
  background-color: #5265f7;
  color: aliceblue;
  cursor: pointer;
}
main{
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  padding: 10px;
  border-width: 2px;
  border-color: #000;
}